@{
	ViewData["Title"] = "Currículum | Facundo Nehuen Dorrego";
}


<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="card mb-3 border-0 shadow-sm " style="max-width: 900px;">
			<div class="row g-0">
				<div class="col-md-4 d-flex align-items-center">
					<img src="~/images/mifoto.jpeg" class="img-fluid rounded-start" style="height: 95%; object-fit: cover;">
				</div>
				<div class="col-md-8 d-flex align-items-center">
					<div class="card-body d-flex flex-column justify-content-center align-items-center ">
						<h1 class="card-title">Facundo Nehuen Dorrego</h1>
						<p class="card-text">Desarrollador .NET</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="card mb-3 border-0 shadow-sm d-flex align-items-center" style="max-width: 900px;">
			<div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
				<h2 class="card-title">Sobre mi</h2>
				<p class="card-text">
					Soy estudiante avanzado en la carrera Tecnico Universitario en Programacion cursando en la Universidad Tecnologica Nacional Facultad Regional General Pacheco, con experiencia práctica en desarrollo web Full Stack usando
					.NET, React y SQL Server.
					Me apasiona aprender resolviendo
					problemas reales, trabajar en equipo y seguir creciendo en el
					mundo del desarrollo.
				</p>
				<div>
					<a href="https://www.linkedin.com/in/facundo-nehuen-dorrego/" target="_blank" class="btn btn-outline-primary">Ver LinkedIn</a>
					<a href="https://github.com/FacundoDorrego" target="_blank" class="btn btn-outline-dark">Ver GitHub</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<h2 class="mb-4 text-center">Aptitudes</h2>
	<div class="row row-cols-4 g-4">
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/c++.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/csharp.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/NET-Framework-Logo.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/sql server.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/htmlcssjs.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/java.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/Bootstrap.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
		<div class="col">
			<div class="ratio ratio-1x1">
				<img src="~/images/React.png" class="img-thumbnail border-0 w-100 h-100 object-fit-contain">
			</div>
		</div>
	</div>
</div>



<div class="container mt-5">
	<h2 class="mb-4 text-center">Proyectos</h2>
	<div class="row row-cols-2">
		<div class="mb-4">
			<div class="card h-100">
				<img class="card-img-top img-fluid" src="~/images/proyecto 1.jpeg" style="height: 200px; width: 100%; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">StockSphere</h5>
					<p class="card-text">
						Sistema ERP WEB donde el usuario puede administar multiples empresas,
						cada una con sus respectivos empleados, separado por roles, gestion de inventario, proveedores, marcas, inventario de productos y dashboard de ventas.
					</p>
					<a href="https://github.com/FacundoDorrego/StockSphere" target="_blank" class="stretched-link"></a>
				</div>
				<div class="card-footer">
					<small class="text-muted">Hecho en ASP.NET, conexion con SQL Server, diseño y funcionalidad con  JS y Bootstrap.</small>
				</div>
			</div>
		</div>

		<div class="mb-4">
			<div class="card h-100">
				<img class="card-img-top img-fluid w-50 mx-auto d-block" src="~/images/proyecto 2.png" style="height: 200px; width: 45%; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">CoreBusiness</h5>
					<p class="card-text">Sistema ERP WEB SAAS en progreso. Es una app de gestión de stock adaptable para empresas con o sin locales físicos, permitiendo manejo de productos, stock, empleados, ventas y depósitos.</p>
					<a href="https://github.com/FacundoDorrego/CoreBusiness" target="_blank" class="stretched-link"></a>
				</div>
				<div class="card-footer">
					<small class="text-muted">Hecho con .NET 8, API propia, API SupabaseAuth, Axios, SQL Server, React, MaterialUI. (En proceso)</small>
				</div>
			</div>
		</div>

		<div class="mb-4">
			<div class="card h-100">
				<img class="card-img-top img-fluid" src="~/images/proyecto 3.png" style="height: 200px; width: 100%; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">CoreBusiness API</h5>
					<p class="card-text">API propia para el proyecto CoreBusiness.</p>
					<a href="https://github.com/FacundoDorrego/CoreBusinessAPI" target="_blank" class="stretched-link"></a>
				</div>
				<div class="card-footer">
					<small class="text-muted">
						Hecho con NET 8, SQL Server, Entity Framework, Autenticación con Supabase, Arquitectura multicapa (API, lógica de negocio, acceso a datos).
					</small>
				</div>
			</div>
		</div>

		<div class="mb-4">
			<div class="card h-100">
				<img class="card-img-top img-fluid w-50 mx-auto d-block" src="~/images/proyecto 4.svg" style="height: 200px; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">Proyecto CRUD en Winform</h5>
					<p class="card-text">Programa CRUD de inventario para articulos.</p>
					<a href="https://github.com/FacundoDorrego/TP-Winform" target="_blank" class="stretched-link"></a>
				</div>
				<div class="card-footer">
					<small class="text-muted">Hecho con WinForms</small>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<h2 class="mb-4 text-center">Contacto</h2>
	<form action="#" method="post">
		<div class="row justify-content-center">
			<div class="card mb-3 border-0 shadow-sm " style="max-width: 900px;">
				<div class="form-group mb-3">
					<label for="txtNombre">Nombre</label>
					<input type="text" class="form-control" id="txtNombre" placeholder="Nombre" required>
				</div>
				<div class="form-group mb-3">
					<label for="txtCorreo">Correo Electrónico</label>
					<input type="email" class="form-control" id="txtCorreo" placeholder="Correo Electrónico" required>
				</div>
				<div class="form-group mb-3">
					<label for="txtAreaMensaje">Mensaje</label>
					<textarea class="form-control" id="txtAreaMensaje" rows="4" placeholder="Escribe tu mensaje..." required></textarea>
				</div>
				<div class="form-group mb-3">
					<button type="submit" class="btn btn-primary">Enviar</button>
					<p class="mt-2 text-muted">El mensaje será recibido y respondido a la brevedad.</p>
				</div>
			</div>
		</div>
	</form>
</div>
